
body {
    background-color: #f5f3f4;
}

    /* text-align: center;
    background: url(/assets/pexels-kévin-dorg-2881262-L.jpg), alt="Photo by Kévin Dorg from Pexels";
    background-size: cover;
    background-position: center;
    font-family: sans-serif; */