
.gradient {
    background-image:
    /* linear-gradient(to top right, rgb(112, 106, 97), #cccbc7); */
    linear-gradient(to top right, rgb(18, 38, 46), #90abc2);
    opacity: .98;
}

.radial, .navbar {
    background-image:
    radial-gradient(circle, rgb(197, 233, 228), rgb(44, 95, 116));
    opacity: .94;
    /* linear-gradient(to left, rgb(36, 166, 206), #719cc0); */
}

.submit {
    background-image:
    radial-gradient(circle, rgb(74, 131, 123), rgb(44, 95, 116));
    border: 1px solid rgb(74, 131, 123);
}
.submit:hover {
    background-image:
    radial-gradient(circle,  rgb(44, 95, 116), rgb(74, 131, 123));
}

.container {
    max-width: 900px;
}

.img
{
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .95;
}

.hazyimg {
    max-width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .98;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(18, 38, 46)A;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .col:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .left {
    top: 75%;
    left: 23%;
  }

  .right {
    top: 75%;
    left: 58%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

html {
    height: 100%;
    margin: 0;
}

body {
    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image:
    -webkit-gradient(linear, left top, right top, from(black), to rgb(236, 200, 131));

    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image:
    -webkit-linear-gradient(right, black, rgb(236, 200, 131));
    
    /* Firefox 3.6 - 15 */
    background-image:
    -moz-linear-gradient(left, gray, #d6a684);
    
    /* Opera 11.1 - 12 */
    background-image:
    -o-linear-gradient(left, gray, #d6a684);
    
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image:
    linear-gradient(to left, black, #d6a684);

    /* SVG fallback for IE 9 (could be data URI, or could use filter) */
    background-image: url(../assets/danist-gOzUn-apU9M-unsplash.jpg);
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }